@import url("https://fonts.googleapis.com/css?family=Crafty+Girls|Luckiest+Guy|Eagle+Lake");

body {
  text-align: center;
  font-family: sans-serif;
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 255, 0.8)), to(rgba(255, 255, 0, 0.3))), -webkit-gradient(linear, left top, right bottom, from(rgba(70, 114, 161, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/wallpaper.jpg");
  background-image: linear-gradient(to bottom left, rgba(0, 0, 255, 0.8), rgba(255, 255, 0, 0.3)), linear-gradient(to bottom right, rgba(70, 114, 161, 0.6), rgba(255, 255, 255, 0.6)), url("../images/wallpaper.jpg");
  background-size: 180vw 100vh;
  background-attachment: fixed;
  background-position: left top;
}

.header_credits {
  position: absolute;
  top: 0;
  right: 10px;
  color: #FED831;
  font-size: 0.7rem;
}

.header__title {
  margin-bottom: 70px;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 4px;
  font-size: 2.4rem;
  color: #FED831;
  text-shadow: 0 0 5px black;
}

.header__logo {
  margin: -70px;
  max-width: 280px;
}

.selection_outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.input_card--radios {
  vertical-align: middle;
  margin: -5px 5px 0 30px;
}

.start_button {
  margin-left: 50px;
  background: none;
  border-color: aqua;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0799a7), to(#8cf7fa));
  background-image: linear-gradient(#0799a7, #8cf7fa);
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

.card__seccion {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.card__div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 300px;
  margin: 10px;
}

.card--back {
  border: 5px solid #9c8c3a;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a1c3c7), to(#2171ab)) !important;
  background-image: linear-gradient(#a1c3c7, #2171ab) !important;
}

.card__image {
  height: 300px;
  width: 200px;
  border: 5px solid #2171ab;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: default;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), to(#ffffff));
  background-image: linear-gradient(#7d7d7d, #ffffff);
  -webkit-filter: grayscale(90%) opacity(50%);
  filter: grayscale(90%) opacity(50%);
}

.card__not-matched .card__image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#d7dbdb));
  background-image: linear-gradient(#f2f2f2, #d7dbdb);
  cursor: pointer;
}

.card_name {
  position: absolute;
  bottom: -11px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  height: 30px;
  width: 190px;
  font-family: "Luckiest Guy", cursive;
  line-height: 2.5;
  letter-spacing: 2px;
  color: #d5d417;
  text-shadow: 0 0 6px black;
  background: -webkit-gradient(linear, left top, left bottom, from(#a1c3c7), to(#2171ab));
  background: linear-gradient(#a1c3c7, #2171ab);
  -webkit-filter: grayscale(90%) opacity(50%);
  filter: grayscale(90%) opacity(50%);
}

.card__not-matched .card_name {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.card--front {
  display: none;
}

.textNotMatch {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  height: 40px;
  width: 190px;
  font-family: "Luckiest Guy", cursive;
  font-size: 1.3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 161, 199, 0.7)), to(rgba(75, 42, 105, 0.7)));
  background: linear-gradient(rgba(188, 161, 199, 0.7), rgba(75, 42, 105, 0.7));
  line-height: 2.5;
  letter-spacing: 2px;
  color: #cdcdcd;
  text-shadow: 0 0 10px black;
}

.player_outer {
  z-index: 2;
  position: fixed;
  top: 5px;
  left: -52px;
  border: 1px solid #b7c329;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FED831), to(rgba(83, 77, 49, 0.7)));
  background-image: linear-gradient(#FED831, rgba(83, 77, 49, 0.7));
  height: 42px;
  width: 110px;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 10px rgba(89, 89, 89, 0.4);
  box-shadow: 5px 5px 10px rgba(89, 89, 89, 0.4);
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.player_outer:hover {
  width: 400px;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

.player_outer-fixed {
  height: auto;
  width: 400px;
}

.player_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 50px;
  height: auto;
  padding: 0 10px;
}

.player_outer-fixed .player_inner {
  height: 50px;
}

.otherPlayer_avatar,.player_avatar {
  margin-top: -5px;
  width: 40px;
}

.current-player .otherPlayer_avatar,.other-players .otherPlayer_avatar,.current-player
  .player_avatar,.other-players
  .player_avatar {
  margin-top: 0;
}

.otherPlayer_name,.player_name {
  margin: 5px 40px 10px 30px;
  color: #FED831;
  border-radius: 20px;
  width: 150%;
  text-shadow: 0 0 10px black;
  -webkit-text-stroke: 1px #152981;
  letter-spacing: 2px;
  font-size: 1.6rem;
  text-align: left;
}

.current-player .otherPlayer_name,.other-players .otherPlayer_name,.current-player
  .player_name,.other-players
  .player_name {
  margin-top: 10px;
}

.player_change,.player_details {
  margin: 0 10px;
  height: 30px;
  width: 110px;
  font-size: 1.4rem;
  color: black;
  line-height: 1.2;
  text-shadow: 0 0 3px white;
}

.player_change:first-of-type,.player_details:first-of-type {
  margin-left: 0;
}

.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.other-players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#747474), to(#cccccc));
  background-image: linear-gradient(#747474, #cccccc);
}

.other_players {
  border-top: 1px solid lightgray;
}

.other_players:hover {
  background: rgba(115, 204, 242, 0.57);
}

.player_remove-icon {
  margin: 0 10px 0 15px;
  color: white;
  text-shadow: 0 0 5px black;
}

.player_createNew,.player_inner-new {
  margin-top: 0;
  border-top: 1px solid;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#f4f4f4));
  background-image: linear-gradient(#dedede, #f4f4f4);
}

.player_createNew.first-game,.player_inner-new.first-game {
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.player_new-icon {
  margin-left: 10px;
  font-size: 1.2rem;
  text-shadow: 0 0 5px white;
}

.player_new {
  margin: 10px 40px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.player_records-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.player_inner-records .player_avatar {
  margin-top: 20px;
  width: 60px;
}

.player_inner-records .player_name {
  margin-top: 30px;
  font-size: 2rem;
}

.player_records-inner {
  margin: 30px 0 20px 60px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 70px 70px;
  grid-gap: 5px;
}

.player_records {
  border: 1px solid;
  border-radius: 5px;
  background: #d1d1e2;
}

.record-num {
  margin-top: 5px;
}

.record-trials {
  margin-top: -10px;
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
}

.record-total {
  margin-top: 20px;
  font-size: 0.7rem;
}

.record-trials-total {
  margin-top: -5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.player_createNew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto !important;
}

.player_createNew-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.layer_createNew-nameLabel {
  margin-top: 20px;
  font-size: 1.2rem;
}

.player_createNew-name {
  margin: 10px 0 10px -30px;
  width: 80%;
  padding-bottom: 10px;
  font-size: 2rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  padding-bottom: 10px;
  font-size: 1rem;
  font-style: italic;
  color: #91a0af;
}

:-ms-input-placeholder {
  padding-bottom: 10px;
  font-size: 1rem;
  font-style: italic;
  color: #91a0af;
}

::-ms-input-placeholder {
  padding-bottom: 10px;
  font-size: 1rem;
  font-style: italic;
  color: #91a0af;
}

::placeholder {
  padding-bottom: 10px;
  font-size: 1rem;
  font-style: italic;
  color: #91a0af;
}

.player_createNew-avatarBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  overflow: scroll;
}

.avatar {
  width: 58px;
  cursor: pointer;
}

.avatar.avatar-off {
  -webkit-filter: grayscale(100%) opacity(40%);
  filter: grayscale(100%) opacity(40%);
}

.player_createNew-avatarButton {
  margin: 30px 0;
  border: 1px solid black;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a1c3c7), to(#2171ab));
  background-image: linear-gradient(#a1c3c7, #2171ab);
  -webkit-box-shadow: 5px 5px 10px rgba(89, 89, 89, 0.4);
  box-shadow: 5px 5px 10px rgba(89, 89, 89, 0.4);
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.player_createNew-confirmation {
  margin-bottom: -25px;
  font-size: 0.9rem;
  font-style: italic;
  color: #931e1e;
}

.remove-div {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
  width: 80vw;
  background: lightgray;
  padding: 20px;
}

.remove-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.56);
  margin: 0 -20px;
  width: 79.3vw;
  padding: 2px;
}

.remove-inner .otherPlayer_avatar {
  width: 60px;
}

.remove-inner .otherPlayer_name {
  margin-left: 60px;
  font-size: 2rem;
  color: black;
  text-shadow: none;
}

.remove_warning-title {
  font-size: 2rem;
  margin: 0 0 20px;
  color: #9d1a1a;
}

.remove_input {
  margin: 30px auto;
  display: block;
  height: 40px;
  width: 60%;
  font-size: 1rem;
  text-align: center;
}

.remove_button {
  font-size: 1rem;
  margin: 10px 30px;
  padding: 5px 20px;
  width: auto;
}

.remove_button-delete {
  background: #f66c6c;
}

.remove_button-cancel {
  background: #85d589;
}

.victory__outer {
  z-index: 2;
  position: fixed;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100vw;
}

.victory__text {
  font-family: 'Crafty Girls', cursive;
  font-size: 6rem;
  color: #fed831;
  text-shadow: 0 0 20px #d9d9d9;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}

.ss {
  font-family: 'Bad Script', cursive;
  font-family: 'Crafty Girls', cursive;
  font-family: 'Vibur', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Gloria Hallelujah', cursive;
}

.footer__outer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px 0 50px;
  width: 100vw;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.footer__inner:last-of-type {
  margin-right: 50px;
}

.footer__text {
  margin: 4px 0;
  font-family: 'Eagle Lake', cursive;
  font-size: 0.8rem;
  color: #d1d1d1;
}

.footer__anna--img {
  width: 200px;
}

.footer__adalab__img {
  margin-top: 15px;
  width: 200px;
}

.footer__powered--img {
  border-radius: 50%;
  margin-top: 10px;
  width: 100px;
}

.footer__version {
  display: block;
  margin: 0 30px 30px 0;
  text-align: center;
  color: #9c8628;
  font-size: 0.8rem;
}

.hidden {
  display: none !important;
}

.card__turn .card--back {
  display: none;
}

.card__turn .card--front {
  display: block;
}

.grid10 {
  grid-template-columns: repeat(2, 200px);
  grid-gap: 5px;
}

@media all and (min-width: 400px) {
  .card__image {
    height: 300px;
    width: 200px;
  }
}

@media all and (min-width: 500px) {
  .header__logo {
    margin: -20px;
    width: 160px;
  }

  .footer__outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    min-width: 500px;
  }

  .footer__inner {
    margin-bottom: 0;
    width: 33vw;
  }
}

@media all and (min-width: 850px) {
  .card__seccion {
    grid-template-columns: repeat(4, 200px);
    grid-gap: 10px;
  }

  .grid10 {
    grid-template-columns: repeat(4, 200px);
    grid-gap: 10px;
  }
}

@media all and (min-width: 1050px) {
  .grid10 {
    grid-template-columns: repeat(5, 200px);
    grid-gap: 10px;
  }
}

@-webkit-keyframes blink {
  0% {
  }

  20% {
    background-image: none;
    background: #e6df8e;
  }
}

@keyframes blink {
  0% {
  }

  20% {
    background-image: none;
    background: #e6df8e;
  }
}

/*# sourceMappingURL=main.css.map */
