body {
	text-align           : center;
	font-family          : sans-serif;
	background-image     : linear-gradient(to bottom left, rgba(0, 0, 255, 0.8), rgba(255, 255, 0, 0.3)),linear-gradient(to bottom right, rgba(70, 114, 161, 0.6), rgba(255, 255, 255, 0.6)), url('../images/wallpaper.jpg');
	background-size      : 180vw 100vh;
	background-attachment: fixed;
	background-position  : left top;
}

.header_credits {
	position : absolute;
	top      : 0;
	right    : 10px;
	color    : #FED831;
	font-size: 0.7rem;

}

.header__title {
	margin-bottom : 70px;
	font-family   : $title__name;
	letter-spacing: 4px;
	font-size     : 2.4rem;
	color         : #FED831;
	text-shadow   : 0 0 5px rgb(0, 0, 0);

}

.header__logo {
	margin   : -70px;
	max-width: 280px;

	@media all and (min-width: 500px) {
		margin: -20px;
		width : 160px;
	}
}

.selection_outer {
	display        : flex;
	align-items    : center;
	justify-content: center;
	background     : rgba(0, 0, 0, 0.4);
	padding        : 10px;
	font-size      : 1.2rem;
	font-weight    : bold;
}

.input_card--radios {
	vertical-align: middle;
	margin        : -5px 5px 0 30px;
}

.start_button {
	margin-left     : 50px;
	background      : none;
	border-color    : aqua;
	background-image: linear-gradient(rgb(7, 153, 167),rgb(140, 247, 250));
	border-radius   : 5px;
	font-size       : 1.3rem;
	cursor          : pointer;
}
