.card__turn {
	& .card--back {
		display: none;
	}

	& .card--front {
		display: block;
	}
}

.grid10 {
	grid-template-columns: repeat(2, 200px);
	grid-gap             : 5px;

	@media all and (min-width: 850px) {
		grid-template-columns: repeat(4, 200px);
		grid-gap             : 10px;
	}

	@media all and (min-width: 1050px) {
		grid-template-columns: repeat(5, 200px);
		grid-gap             : 10px;
	}
}
