.card__seccion {
	display              : grid;
	grid-template-columns: 170px 170px;
	grid-gap             : 2px;
	justify-content      : center;
	align-items          : center;
	margin-top           : 30px;

	@media all and (min-width: 768px) {
		grid-template-columns: repeat(4, 200px);
		grid-gap             : 10px;
	}
}

.grid {
	display              : grid;
	grid-template-columns: 170px 170px;
	grid-gap             : 2px;
	justify-content      : center;
	align-items          : center;

	@media all and (min-width: 768px) {
		grid-template-columns: 170px 170px 170px;
		grid-gap             : 10px;
	}
}

.card__div {
	position       : relative;
	display        : flex;
	flex-direction : column;
	align-items    : center;
	justify-content: center;
	height         : 300px;
	margin         : 10px;
}

.card__image {
	height          : 300px;
	width           : 200px;
	border          : 5px solid #2171ab;
	cursor          : pointer;
	box-sizing      : border-box;
	border-radius   : 10px;
	background-image: linear-gradient(#f2f2f2,#d7dbdb);

	@media all and (min-width: 400px) {
		height: 300px;
		width : 200px;
	}
}

.card_name {
	position      : absolute;
	bottom        : -11px;
	left          : 50%;
	transform     : translate(-50%, 0);
	height        : 30px;
	width         : 190px;
	background    : linear-gradient(#a1c3c7,#2171ab);
	font-family   : $title__name;
	line-height   : 2.5;
	letter-spacing: 2px;
	color         : #d5d417;
	text-shadow   : 0 0 6px rgb(0, 0, 0);
}

.card--front {
	display: none;
}

.card--back {
	border          : 5px solid #9c8c3a;
	box-sizing      : border-box;
	background-image: linear-gradient(#a1c3c7,#2171ab);
}
