.player_outer {
	z-index         : 2;
	position        : fixed;
	top             : 0;
	left            : -52px;
	border          : 1px solid;
	border-radius   : 20px;
	background-image: linear-gradient(#2171ab,#a1c3c7);
	height          : 42px;
	width           : 110px;
	overflow        : hidden;
	cursor          : pointer;
	box-shadow      : 5px 5px 10px rgba(89, 89, 89, 0.4);
	transition      : width 0.2s ease;

	&:hover {
		width     : 400px;
		transition: width 0.4s ease;

	}
}

.player_outer-fixed {
	height: auto;
	width : 400px;
}

.player_inner {
	display        : flex;
	align-items    : center;
	justify-content: flex-start;
	margin-left    : 50px;
	height         : auto;
	padding        : 0 10px;

	.player_outer-fixed & {
		height: 50px;
	}

}

.otherPlayer_avatar,
.player_avatar {
	width: 40px;
}

.otherPlayer_name,
.player_name {
	margin        : 10px 40px;
	color         : #d5d417;
	text-shadow   : 0 0 5px rgb(0, 0, 0);
	letter-spacing: 2px;
}

.player_buttons {
	margin : 0 5px;
	display: none;

	.player_outer:hover & {
		display: inline;
	}
}

.players {
	display        : flex;
	align-items    : center;
	justify-content: space-between;
	width          : 100%;
}

.other-players {
	display         : flex;
	flex-direction  : column;
	align-items     : space-between;
	justify-content : flex-start;
	background-image: linear-gradient(#747474,#cccccc);
}

.other_players {
	border-top: 1px solid lightgray;

	&:hover {
		background: #969342;
	}
}

.player_remove-icon {
	margin     : 0 10px 0 100px;
	color      : white;
	text-shadow: 0 0 5px rgb(0, 0, 0);
}

.player_createNew,
.player_inner-new {
	margin-top      : 0;
	border-top      : 1px solid;
	background-image: linear-gradient(#dedede,#f4f4f4);

	&.first-game {
		animation-name           : blink;
		animation-duration       : 2s;
		animation-iteration-count: infinite;

	}
	@keyframes blink {
		0% {}

		20% {
			background-image: none;
			background      : rgb(230, 223, 142);
		}
	}
}

.player_new-icon {
	margin-left: 10px;
	font-size  : 1.2rem;
	text-shadow: 0 0 5px rgb(255, 255, 255);
}

.player_new {
	margin        : 10px 40px;
	font-size     : 0.8rem;
	letter-spacing: 2px;
	font-weight   : bold;
}

.player_records-outer {
	display        : flex;
	align-items    : center;
	justify-content: center;
}

.player_inner-records {
	& .player_avatar {
		margin-top: 20px;
		width     : 60px;
	}

	& .player_name {
		margin-top: 30px;
		font-size : 2rem;
	}
}

.player_records-inner {
	margin               : 30px 0 20px 60px;
	display              : grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows   : 70px 70px;
	grid-gap             : 5px;
}

.player_records {
	border       : 1px solid;
	border-radius: 5px;
	background   : rgb(209, 209, 226);
}

.record-num {
	margin-top: 5px;
}

.record-trials {
	margin-top : -10px;
	font-family: $title__name;
	font-size  : 2rem;
}

.record-total {
	margin-top: 20px;
	font-size : 0.7rem;

}

.record-trials-total {
	margin-top : -5px;
	font-size  : 0.9rem;
	font-weight: bold;
}

.player_createNew {
	display        : flex;
	flex-direction : column;
	align-items    : center;
	justify-content: center;
	height         : auto !important;
}

.player_createNew-box {
	display        : flex;
	flex-direction : column;
	align-items    : center;
	justify-content: center;
	height         : auto;
	width          : 100%;
}

.layer_createNew-nameLabel {
	margin-top: 20px;
	font-size : 1.2rem;
}

.player_createNew-name {
	margin    : 10px 0 10px -30px;
	width     : 80%;
	font-size : 2rem;
	text-align: center;
}

.player_createNew-avatarBox {
	display              : grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap             : 10px;
	overflow             : scroll;

}

.avatar {
	width : 58px;
	cursor: pointer;

	&.avatar-off {
		filter: grayscale(100%) opacity(40%);
	}
}

.player_createNew-avatarButton {
	margin          : 30px 0;
	border          : 1px solid black;
	border-radius   : 20px;
	height          : 40px;
	width           : 200px;
	background-image: linear-gradient(#a1c3c7,#2171ab);
	box-shadow      : 5px 5px 10px rgba(89, 89, 89, 0.4);
	font-size       : 1.2rem;
	color           : white;
	cursor          : pointer;
}

.player_createNew-confirmation {
	margin-bottom: -25px;
	font-size    : 0.9rem;
	font-style   : italic;
	color        : rgb(147, 30, 30);
}
