.victory__outer {
	z-index  : 2;
	position : fixed;
	bottom   : 30%;
	left     : 50%;
	transform: translate(-50%,0);
	width    : 100vw;
}

.victory__text {
	font-family        : 'Crafty Girls', cursive;
	font-size          : 3rem;
	color              : #fed831;
	text-shadow        : 0 0 20px rgb(255, 255, 255);
	-webkit-text-stroke: 1px rgba(0, 0, 0, 1);

	@media all and (min-width: 500px) {
		font-size          : 6rem;
		text-shadow        : 0 0 20px rgb(217, 217, 217);
		-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
	}

}

.ss {
	font-family: 'Bad Script', cursive;
	font-family: 'Crafty Girls', cursive;
	font-family: 'Vibur', cursive;
	font-family: 'Indie Flower', cursive;
	font-family: 'Gloria Hallelujah', cursive;
}
